@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-free/css/all.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    /* overflow: hidden; */
}
.bgLogo >img{
    width: 100vw;
    height: 100vh;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}