@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .header{
    position: absolute;
   width: 80%;
   margin: auto;   
   /* padding: 10px 30px; */
   /* top: 1em;
   left: 2em; */
   




/* .header img {
    width: 160px;
    background: linear-gradient( rgba(55, 54, 54, 0), rgba(0, 0, 0, 0.063));
} */

.bgLogo >img{
    width: 100vw;
    height: 100vh;
}